.quotation-form {
  width: 400px;
  margin: 20px auto 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 35px;
}

.btn-form {
  margin-top: 15px;
  width: 100%;
  background-color: #236167;
  color: white;
  padding: 5px;
  font-weight: 700;
}

.quotation-btn {
  border: 1px solid #FF26AB;
  padding: 8px;
  position: fixed;
  border-radius: 20px;
  color: white;
  right: 20px;
  background-color: #FF26AB;
  top: 125px;
  opacity: 0.92;
  &:hover {
    color: white;
    opacity: 1;
  }
}
