.container-form {
  background-size: cover;
  background-position: center;
  height: 120vh;
}

.entire-form {
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 10px;
  margin-top: 45px;
}

.quotation-form {
  width: 600px;
  margin: 20px auto 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 35px;
}

.btn-form {
  margin-top: 15px;
  width: 100%;
  background-color: #236167;
  border: 2px solid #236167;
  border-radius: 25px;
  padding: 5px 10px;
  color: white;
  width: 200px;
  text-align: center;
}

.quotation-btn {
  border: 1px solid #FF26AB;
  padding: 8px;
  position: fixed;
  border-radius: 20px;
  color: white;
  right: 20px;
  background-color: #FF26AB;
  top: 475px;
  opacity: 0.92;
  z-index: 3;
  &:hover {
    color: white;
    opacity: 1;
  }
}

.comment {
  height: 250px;
}

span.flatpickr-weekday {
  margin: 10px !important;
  display: inline-block !important;
}

.flatpickr-month {
  height: 31px;
}

.first-page {
  display: block;
}

.second-page {
  display: none;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a.button-precedent {
  border: 2px solid #236167;
  border-radius: 25px;
  padding: 5px 10px;
  color: #236167;
  width: 200px;
  text-align: center;
  .button-precedent:hover {
    text-decoration: none !important;
  }
}

a.button-suivant {
  border: 2px solid #236167;
  border-radius: 25px;
  padding: 8px 40px;
  color: #236167;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

a:hover {
  text-decoration: none !important;
  background-color: #236167;
  color: white;
}

.flatpickr-current-month {
  font-size: 121% !important;
}

.center-button {
  margin: 28px;
  width: 100%;
}

label {
  font-weight: 70;
}
