.quotation-form {
  width: 400px;
  margin: 20px auto 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 35px;
}

.btn-form {
  margin-top: 15px;
  width: 100%;
  background-color: #236167;
  color: white;
  padding: 5px;
  font-weight: 700;
}
