// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.main-container {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(220,220,220);
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding-left: 0 !important;
  border-top: 2px solid rgb(51,97,103);
  display: flex;
}

h2 {
  font-size: 26px;
}
