<!-- S'inspirer du footer de myCanal -->
<div class="black-container">
  <ul class="list">
    <li class="list-items">Mentions légales</li>
    <li class="list-items">Politique de confidentialité</li>
    <li class="list-items">Conditions générales</li>
  </ul>
</div>
