<!-- NAVIGATION -->
<!-- Left bar shown on page load -->

<!-- Slide out nav bar -->
<ul id="sidebar">

  <li href="#">Section One</li>
  <hr>
  <li href="#">Section Two</li>
  <hr>
  <li href="#">Section Three</li>
  <hr>
  <li href="#">Section Four</li>

</ul>
