<!-- NAVIGATION -->
<!-- Left bar shown on page load -->

<!-- Slide out nav bar -->
<ul id="sidebar">

  <li href="#">Traiteurs</li>
  <hr>
  <li href="#">Animations</li>
  <hr>
  <li href="#">Team Building</li>
  <hr>
  <li href="#">Soirée d'entreprise</li>
  <hr>
</ul>
