<ul id="sidebar">

  <%= link_to traiteurs_events_path do %>
    <li>Traiteurs</li>
  <% end %>
  <hr>
  <%= link_to animations_events_path do %>
    <li>Animations</li>
  <% end %>
  <hr>
  <%= link_to team_building_events_path do %>
    <li>Team Building</li>
  <% end %>
  <hr>
  <%= link_to soiree_dentreprise_events_path do %>
    <li>Soirée d'entreprise</li>
  <% end %>
  <hr>
</ul>
