.entire-card {
  height: 300px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 3px;
  background-color: white;
  margin: 25px 15px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  &:hover {
    background-image: url('https://source.unsplash.com/1600x900/?cocktails');
    zoom: 1.2;
    text-decoration: none !important;
  }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.heart-quotation {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  text-transform: uppercase;
}

.card-description {
  color: rgb(130,130,130);
  h2 {
    font-size: 24px;
    margin: 6px;
  }
  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
    margin: 6px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

a:-webkit-any-link {
  text-decoration: none;
}
